# Xcode
.DS_Store
xcuserdata
project.xcworkspace/xcuserdata/
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcscmblueprint
*.pbxproj
*.swiftpm
*.playground
*.playgroundpage
*.playgroundbook

# CocoaPods
Pods/

